.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;

  .logo-container {
    img {
      height: 60px;
    }
  }

  .menu-btn {
    width: 60px;
    height: 60px;

    #menu {
      overflow: initial;
    }

    #line1,
    #line2,
    #circle {
      transform-box: fill-box;
      transform-origin: center;
      transition: 0.4s linear;
    }

    &:hover {
      cursor: pointer;

      #circle,
      #line1,
      #line2 {
        stroke-width: 4px !important;
      }
    }

    &.active {
      #line1 {
        transform: translate(0, -6.5px) rotate(50deg) scaleX(1.25);
      }

      #line2 {
        transform: translate(0, 6.5px) rotate(-50deg) scaleX(1.25);
      }
    }
  }
}
