// Load CSS Reset from NPM
@import "~normalize.css";

@mixin font-face($family, $path, $weight: normal, $style: normal,$size: $font-size-default) {
  @font-face {
    font-family: $family;
    src: url('#{$path}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
  }
}

$font-size-default: 20;
$line-height-default: 1.25;
$text-color-default: black;

$gill: 'Gill Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monument: 'Monument', $gill;

@include font-face('Gill Sans', '../fonts/GillSans');
@include font-face('Monument', '../fonts/MonumentExtended-Regular');

body {
  background-color: white;
  color: black;
  font-family: 'Gill Sans', serif;
}

.section-wrapper {
  padding: 2em;
}

.splash {
  height: 100vh;
  flex-direction: column;
}

.splash .section-wrapper > * {
  display: flex;
  align-items: center;
}

.background-svg {
  height: 100vh;
  width: 100vw;
  background: antiquewhite;
  position: absolute;
  z-index: -1;

  svg {
    .st0 {
      fill: #d0ffa0;
    }

    .st1 {
      fill: #ff6767;
    }
  }
}

.header {
  justify-content: space-between;
  flex: 1;
}

.menu-btn {
  .cls-1,
  .cls-3 {
    fill: none;
  }

  .cls-1 {
    stroke: #000;
    stroke-width: 2px;
  }

  .cls-2 {
    stroke: none;
  }
}

.headings {
  font-size: 60px;
  font-family: 'Monument', sans-serif;
  text-transform: uppercase;
}

.headings .subtitle {
  font-size: 100px;
  -webkit-text-stroke: 2px black;
  color: aqua;
}

.headings,
.partner {
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.logo-container img,
.menu-btn svg {
  width: 70px;
  height: 70px;
}

section.artists {
  background-color: white;
}
