.background-svg {
  height: 100%;
  width: 100%;
  background: $white;
  position: absolute;
  z-index: -1;
  overflow: hidden;

  svg {
    .st0 {
      fill: $lightGreen;
    }

    .st1 {
      fill: $salmon;
    }

    #Tracé_3 {
      transform-origin: right;
      transform: scale(1);
    }
  }
}

.menu-btn {
  .cls-1,
  .cls-3 {
    fill: none;
  }

  .cls-1 {
    stroke: $black;
    stroke-width: 2px;
  }

  .cls-2 {
    stroke: none;
  }
}
